[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = hugo.englund7@gmail.com
	name = rickyhugo
[core]
  editor = nvim
  excludesfile = ~/.my-shit/.gitignore
[color]
  ui = auto
